<%= render "shared/header"%>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      
    </h2>
    <p class='service-explain'>
      見つかる仲間 共有できる感動
    </p>
    <p class='service-explain'>

    </p>
  </div>
  

  <div class='item-contents'>
    <h2 class='title'>今週開催のイベント</h2>
    <div class="subtitle" >
      <h3 class='title'><%= Date.today %>〜<%= Date.today + 7 %></h3>
    </div>
    <ul class='item-lists'>
      <ul class='venue-lists'>
          <ul class='list'>
                <div class='venue-info'>
                  <h3 class='vnue-name'>
                    本公演
                  </h3>
                <div class='venue-prefecture'>
                  <span>なんばグランド花月</span>
                </div>
                <div class='venue-prefecture'>
                  <span>2023-09-01</span>
                </div>
              </div>
        </ul>
    </ul>
  </div>
